@model CUENTAS_POR_PAGAR.Models.CHEQUES

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>CHEQUES</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CODFACTURA" class="control-label"></label>
                <input asp-for="CODFACTURA" class="form-control" />
                <span asp-validation-for="CODFACTURA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VALORCHEQUE" class="control-label"></label>
                <input asp-for="VALORCHEQUE" class="form-control" />
                <span asp-validation-for="VALORCHEQUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHACHEQUE" class="control-label"></label>
                <input asp-for="FECHACHEQUE" class="form-control" />
                <span asp-validation-for="FECHACHEQUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BANCO" class="control-label"></label>
                <input asp-for="BANCO" class="form-control" />
                <span asp-validation-for="BANCO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
